<?xml version='1.0' encoding='utf-8'?>
<widget id="com.nikitatrainings" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>myFruitApp</name>
    <description>Nikita Cordova hybrid Fiori App</description>
    <author email="nikita@gmail.som" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <preference name="AndroidInsecureFileModeEnabled" value="true"></preference>
    <icon src="./www/img/logo.png" />
        <!-- Allow network access -->
    <access origin="*" />

    <!-- Allow navigation -->
    <allow-navigation href="*" />


    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
