<?xml version='1.0' encoding='utf-8'?>
<widget id="com.nikitatrainings" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>myFirstApp</name>
    <description>Nikita's Apache Cordova App</description>
    <author email="nikita@gmail.com" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <!-- These allow intent are for the third party url support (FB, WP) -->
    <allow-intent href="http://*/*" />   
    <allow-intent href="https://*/*" />
</widget>
